.career {
  &__container {
    padding-block: rem(75);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: clamp(rem(7), 1.3vw, rem(12));
    align-items: flex-end;
    list-style: none;
    writing-mode: vertical-lr;
    margin-block: auto;
  }

  &__item {
    &:first-child {
      text-align: end;
    }

    &:not(:first-child) {
      .tag {
        transform: rotate(180deg);
      }
    }
  }

  &__number {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(rem(136), 23.7vw, rem(360));
    height: clamp(rem(136), 23.7vw, rem(360));
    margin-left: auto;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    span {
      font-size: clamp(rem(52), 9.1vw, rem(131));
      font-family: var(--font-medium);
    }
  }

  &__title {
    @include title;

    font-size: clamp(rem(36), 11.7vw, rem(132));
    line-height: clamp(rem(48), 13vw, rem(142));
    margin-block: rem(20);

    > div {
      overflow: hidden;

      &:nth-child(2) {
        color: var(--cl-primary);
      }

      span {
        display: block;
      }
    }
  }

  &__text {
    margin-bottom: rem(46);
    font-size: clamp(rem(16), 2.8vw, rem(26));
    text-wrap: balance;
  }

  @media (min-width: $md) {
    &__container {
      padding-block-end: rem(170);
    }

    &__title {
      margin-block: rem(25) rem(40);
    }

    &__box {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }

    &__text {
      max-width: clamp(rem(336), 39vw, rem(500));
      margin-bottom: 0;
    }

    &__number {
      flex-shrink: 0;
      margin-left: unset;
    }
  }

  @media (min-width: $lg) {
    &__container {
      padding-block-end: rem(140);
    }

    &__list {
      margin-block: 0;
      margin-bottom: rem(-102);
      padding-left: rem(100);
    }

    &__title {
      font-size: rem(100);
      line-height: rem(110);
      margin-block: 0 rem(60);

      > div:nth-child(1) {
        margin-left: rem(450);
      }
    }

    &__box {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;
    }

    &__text {
      margin-left: 10%;
    }

    &__number {
      margin-top: rem(-130);
    }
  }

  @media (min-width: $xl) {
    &__list {
      margin-bottom: rem(-112);
      padding-left: rem(144);
    }

    &__title {
      font-size: rem(112);
      line-height: rem(122);

      > div:nth-child(1) {
        margin-left: rem(560);
      }
    }
  }

  @media (width >= 1800px) {
    &__list {
      margin-bottom: rem(-160);
    }

    &__title {
      font-size: rem(168);
      line-height: rem(172);
    }
  }
}
