-
  const items = ["Удаленка", "Высокая зарплата", "Обучение", "Вечеринки", "Сильная команда"]

section.career
  .container.career__container
    ul.career__list
      li.career__item(data-aos="fade-down" data-aos-delay="200") 
        +tag("Удаленка")(data-aos="tilt" data-aos-delay="800" data-aos-duration="400" data-aos-easing="ease-in")
      li.career__item(data-aos="fade-down" data-aos-delay="150") 
        +tag("Высокая зарплата")
      li.career__item(data-aos="fade-down" data-aos-delay="100") 
        +tag("Обучение")
      li.career__item(data-aos="fade-down" data-aos-delay="50") 
        +tag("Вечеринки")
      li.career__item(data-aos="fade-down") 
        +tag("Сильная команда")
    h1.career__title
      div 
        span(data-aos="slide-up") карьера
      div 
        span(data-aos="slide-up") в articul
    .career__box
      .career__text(data-aos="fade-zoom-in" data-aos-delay="800") Мы верим, что каждый вновь приходящий обогащает нашу жизнь, привносит свои идеи, свои смыслы, свое настроение, свою уникальность
      .career__number(data-aos="fade-zoom-in" data-aos-delay="800")
        img(src="/img/inhtml/careers-words.svg" alt="Открытых вакансий" data-aos="rotate" data-aos-delay="800")
        span 5
