-
  const items = ["Удаленка", "Высокая зарплата", "Обучение", "Вечеринки", "Сильная команда"]

section.career
  .container.career__container
    ul.career__list
      each item in items 
        li.career__item #{item}
    h1.career__title
      span карьера
      span в articul
    .career__box
      .career__text Мы верим, что каждый вновь приходящий обогащает нашу жизнь, привносит свои идеи, свои смыслы, свое настроение, свою уникальность
      .career__number 
        img(src="/img/inhtml/careers-words.svg", alt="", srcset="")
        span 5
