{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-rational-order",
    "stylelint-prettier/recommended"
   ],
  "customSyntax": "postcss-scss",
  "plugins": [
   "stylelint-order", 
   "stylelint-scss"
  ]
}
