.button {
  @include title;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: clamp(rem(34), 5.2vw, rem(72));
  font-size: clamp(rem(13), 2.15vw, rem(28));
  column-gap: clamp(rem(10), 2vw, rem(21));
  background-color: var(--cl-primary);
  border-radius: rem(100);
  padding-inline: rem(40);

  img {
    width: rem(19);
    height: rem(19);
  }

  @media (min-width: $md) {
    img {
      width: rem(30);
      height: rem(30);
    }
  }

  @media (min-width: $lg) {
    img {
      width: rem(36);
      height: rem(36);
    }
  }
}
