.vacancy {
  &__header {
    @include title;
    font-size: clamp(rem(20), 5vw, rem(70));
    line-height: clamp(rem(24), 6vw, rem(84));
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding-block: clamp(rem(18), 5.2vw, rem(60));
  }

  &__panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  }

  &__info {
    padding-block: rem(30) rem(44);
  }

  &__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(16);
    text-transform: inherit;
    text-align: left;

    span {
      display: block;
      position: relative;
      width: rem(21);
      height: rem(21);
      flex-shrink: 0;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        width: 100%;
        height: 2px;
        transition: transform 0.4s;
      }

      &::before {
        transform: translate(-50%, -50%) rotate(-90deg);
      }
    }

    &[aria-expanded="true"] {
      span::before {
        transform: translate(-50%, -50%);
      }
    }
  }

  &__decription {
    padding-block: rem(10) rem(40);
  }

  &__list {
    display: flex;
    flex-direction: column;

    &-item {
      padding-block: rem(20);
      border-bottom: 1px solid #666;
    }
  }

  @media (min-width: $md) {
    &__button {
      span {
        width: rem(50);
        height: rem(50);

        &::before,
        &::after {
          height: rem(5);
        }
      }
    }
  }

  @media (min-width: $xl) {
    &__button {
      span {
        width: rem(96);
        height: rem(96);

        &::before,
        &::after {
          height: rem(10);
        }
      }
    }
  }
}

.vacancy + .vacancy {
  margin-top: -2px;
}
