-
  vacancyItem = {
    tabs: [
      {
        active: true,
        data: "requirements",
        title: "Требования",
      },
      {
        data: "responsibilities",
        title: "Обязанности",
      },
      {
        data: "stack",
        title: "Стек",
      },
    ],
    descriptionList: [
      "Опыт работы в сфере графики и веба: 6–9 лет и выше",
      "Умение при необходимости самостоятельно взаимодействовать в коммуникации с подрядчиком",
      "Понимание проектирования взаимодействия и создания информационной архитектуры проекта",
      "Сильное портфолио с кейсами в сфере корпоративного/информационного веба",
      "Умение декомпозировать задачи, организовывать и синхронизировать командную работу с другими дизайнерами",
      "Ответственность, желание развиваться, обучаемость, перфекционизм, любовь к деталям и минимализму",
      "Умение быстро подобрать нужные референсы из топовых работ в сфере веба и использовать их в работе",      
    ]
  }