include props

include ../button/button
include ../tabs/tabs

.vacancy-info
  .vacancy-info__content
    .vacancy-info__years 
      span >6
      span лет опыта
    .vacancy-info__text Самостоятельный дизайнер с отличной насмотренностью, который способен без помощи арт-директора решать как базовые дизайн-задачи так и сложные  (дизайн лендингов, подач, презентаций и тд.)
    +tabs(vacancyItem.tabs).vacancy-info__tabs.js-tabs
      .tabs-content.active(id=vacancyItem.tabs[0].data)
        .vacancy-info__decription
          ul.vacancy-info__list
            each item of vacancyItem.decriptionList
              li.vacancy-info__list-item #{item}
          //- button
      .tabs-content(id=vacancyItem.tabs[1].data)
        .vacancy-info__decription Обязанности
      .tabs-content(id=vacancyItem.tabs[2].data)
        .vacancy-info__decription Стек
      +button({
        img: "mail.svg", 
        text: "Откликнуться"
      }).vacancy-info__button
      
