include ../../components/accordion/accordion

-
  const vacncies = ["Middle web designer", "Системный  аналитик", "IT sales manager", "Head of marketing & PR"]

section.vacancies
  .container.vacancies__container
    each vacancy in vacncies
      +accordion(vacancy)