.contact {
  &__container {
    display: flex;
    flex-direction: column;
    gap: rem(30);
    padding-block: rem(70) rem(100);
  }

  &__text {
    @include title;

    max-width: rem(810);
    font-size: clamp(rem(18), 3.3vw, rem(25));
    text-wrap: balance;

    a {
      padding-bottom: rem(4);
      white-space: nowrap;
      border-bottom: 2px solid var(--cl-text);
      transition: $duration;

      &:hover {
        color: var(--cl-primary);
        border-color: var(--cl-primary);
      }
    }
  }

  &__tags {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: rem(290);
    height: rem(220);
    padding-right: rem(80);
    margin-inline: auto;

    &-item {
      &:nth-child(1) .tag {
        transform: rotate(46deg) translate(20%, -16%);
        transform-origin: bottom right;
      }

      &:nth-child(3) .tag {
        transform: rotate(-43deg) translate(42%, 20%);
        transform-origin: top right;
      }
    }
  }

  @media (min-width: $md) {
    &__container {
      gap: rem(60);
      padding-block-start: rem(150);
    }

    &__text {
      font-size: clamp(rem(25), 2.7vw, rem(35));

      a {
        padding-bottom: rem(6);
        border-bottom: 3px solid var(--cl-text);
      }
    }

    &__tags {
      width: rem(410);
      height: rem(335);
      padding-right: rem(110);
    }
  }

  @media (min-width: $lg) {
    &__container {
      flex-direction: row;
      gap: rem(140);
      align-items: center;
      padding-block-start: rem(120);
    }

    &__tags {
      flex-shrink: 0;
      margin: 0;
    }
  }

  @media (min-width: $xl) {
    &__tags {
      width: rem(570);
      height: rem(445);
      padding-right: rem(150);
    }
  }
}
