.contact
  .container.contact__container
    .contact__tags
      .contact__tags-item(data-aos="fade-down-right" data-aos-delay="400")
        +tag("Просто вы")
      .contact__tags-item(data-aos="fade-right")
        +tag("Я точно нужен вам,")
      .contact__tags-item(data-aos="fade-up-right" data-aos-delay="1000")
        +tag("Пока не знаете")
    .contact__text(data-aos="fade-zoom-in" data-aos-delay="1600")
      | Если вы хотите стать частью нашей команды, но не нашли подходящую вакансию в списке выше, то 
      a(href="#") напишите нам
