@font-face {
  font-family: "DrukWide-Medium";
  src: url($path-fonts + "/DrukTextWideCyr-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Articul";
  src: url($path-fonts + "/Articul.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
