body {
  font-family: var(--font-base), "Arial", "Verdana", sans-serif;
  color: var(--cl-text);
  font-size: rem(16);
  line-height: rem(22);
  background-color: var(--cl-background);

  @media (min-width: $md) {
    font-size: clamp(rem(18), 2.3vw, rem(22));
    line-height: clamp(rem(25), 3.2vw, rem(32));
  }
}

.container {
  width: 100%;
  max-width: 1920px;
  margin-inline: auto;
  padding-inline: rem(16);

  @media (min-width: $md) {
    padding-inline: clamp(rem(33), 2.3vw, rem(60));
  }
}
